<section class="bg-white dark:bg-gray-900">
  <div
    class="gap-16 items-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
      <h2
        class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
      >
        Über Uns
      </h2>
      <p class="mb-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in gravida
        ligula. Suspendisse sed lacus aliquet, vulputate lorem a, sagittis
        tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices
        posuere cubilia curae; Sed pulvinar dui velit, sed tempor odio pharetra
        placerat.
      </p>
      <p>
        Praesent pretium ultrices faucibus. Pellentesque cursus lorem eu ipsum
        ultrices, ac tincidunt lectus laoreet. Integer lectus ante, posuere sit
        amet erat quis, ultricies tincidunt nisi.
      </p>
    </div>
    <div class="grid grid-cols-10 gap-4 mt-8">
      <img
        class="col-span-6 w-full rounded-lg"
        src="assets/BildUns.png"
        alt="Unser Team"
      />
      <img
        class="col-span-4 mt-4 w-full lg:mt-10 rounded-lg"
        src="assets/logo.png"
        alt="Bild 2"
      />
    </div>
  </div>
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-8 items-center">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2763.0202220526344!2d8.79029907701671!3d46.170253171094245!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4785c82dc8d7ad2d%3A0x6eac2345e5d704ea!2sOsteria%20Borghese!5e0!3m2!1sen!2sit!4v1694719687311!5m2!1sen!2sit"
        height="450"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
      ></iframe>
      <div class="font-light text-gray-500 sm:text-lg dark:text-gray-400">
        <h2
          class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white"
        >
          Unsere Geschichte
        </h2>
        <p class="mb-4">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut in gravida
          ligula. Suspendisse sed lacus aliquet, vulputate lorem a, sagittis
          tellus. Vestibulum ante ipsum primis in faucibus orci luctus et
          ultrices posuere cubilia curae; Sed pulvinar dui velit, sed tempor
          odio pharetra placerat.
        </p>
        <p class="mb-4">
          Praesent pretium ultrices faucibus. Pellentesque cursus lorem eu ipsum
          ultrices, ac tincidunt lectus laoreet. Integer lectus ante, posuere
          sit amet erat quis, ultricies tincidunt nisi.
        </p>
      </div>
    </div>
  </div>
</section>

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
    <h2
      class="text-3xl font-extrabold text-primary-600 dark:text-primary-500 mb-4 text-center"
    >
      Kontaktiere Uns (Nur für Testzwecke)
    </h2>
    <div class="grid grid-cols-1" id="contact-area">
      <div>
        <div class="mb-4">
          <label
            for="name"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            >Name</label
          >
          <input
            type="text"
            id="name"
            name="name"
            class="mt-1 p-2 w-full border rounded-md"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="email"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            >Email</label
          >
          <input
            type="email"
            id="email"
            name="email"
            class="mt-1 p-2 w-full border rounded-md"
            required
          />
        </div>
        <div class="mb-4">
          <label
            for="message"
            class="block text-sm font-medium text-gray-700 dark:text-gray-300"
            >Message</label
          >
          <textarea
            id="message"
            name="message"
            rows="4"
            class="mt-1 p-2 w-full border rounded-md"
            required
          ></textarea>
        </div>
        <button
          class="bg-primary-700 hover:bg-primary-800 text-gray-700 font-bold py-2 px-4 rounded border border-gray-400 shadow-sm transition-all transform active:scale-95 active:bg-green-200"
          id="submit-button"
        >
          Send Message
        </button>
      </div>
    </div>
  </div>
</section>
